# Ignorované pracovní podklady
Requirements/

# Databáze
*.db
*.sqlite
*.sqlite3

# Python (PRO2) a zkompilovaná cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtuální prostředí a konfigurace
venv/
.venv/
env/
.env
*.env

# IDE a operační systém nezbytnosti
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini

# Node modules a JS závislosti (TNPW2) v případě, že se nainstalují
node_modules/
npm-debug.log
yarn-error.log
*.txt
*.md
*.json
*.yml

.playwright-mcp/*
PRO2/static/photos/*
